[Desktop Entry]
Type=Application
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Terminal=true
Name[en_GB]=ProgramScript-AS
Name[hu_HU]=ProgramScript-AS
Name=ProgramScript-AS
Comment[en_GB]=
Comment[hu_HU]=
Comment=
